.texts {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 32px
}

.texts .description {
  width: 80%;
  font-size: 1.5rem;
  line-height: 31.65px;
}

.texts button {
  border: none;
  border-radius: 40px;
  background-color: #333333;
  padding: 20px 50px;
  font-size: 1.375rem;
  font-family: "Roboto Mono", sans-serif;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.5s ease;
}


.texts button:hover {
  background-color: #707070;
}

@media screen and (max-width: 600px) {

  .texts {
    width: 100%;
    gap: 20px;
  }

  .texts .description {
    font-size: 1rem;
    line-height: 20px;
  }

  .texts button {
    font-size: 1.05rem;
    padding: 6px 10px;
  }

  #container_banner {
    flex-direction: column;
    gap: 60px;

  }

  #container_banner img {
    width: 40%;
    align-items: center;
  }

  .image-banner {
    justify-content: center;
  }
}