@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", sans-serif;
  background-color: #fff;
}

section {
  padding: 8% 5%;
}

#banner {
  width: 100%;
  padding-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.informations {
  width: 45%;
}

.informations {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 32px
}

.informations .title-banner {
  font-size: 3.50rem;
}

.informations .description-banner {
  width: 90%;
  font-size: 1.5rem;
}

.informations button {
  border: none;
  border-radius: 40px;
  background-color: #333333;
  padding: 20px 50px;
  font-size: 1.375rem;
  font-family: "Roboto Mono", sans-serif;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.5s ease;
}


.informations button:hover {
  background-color: #707070;
}

.img-banner {
  width: 52%;
}

.img-banner .hero-image {
  width: 100%;
}
