@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", sans-serif;
  background-color: #fff;
}

section {
  padding: 5% 4%;
}

#title_banner {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 74px;
}



#container_banner {
  width: 100%;
  padding-top: 0;

  display: flex;
  justify-content: space-between;
  align-items: start;
}

#container_cards {
  width: 100%;
  display: flex;
  gap: 2%;
  justify-content: space-between;
}


#container_contato {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-form {
  display: flex;
  flex-direction: column;
  gap: 37px;
}

.texts-redesSociais {
  width: 45%;
  
}

.container-form {
  width: 45%;
}

.texts-redesSociais {
  display: flex;
  flex-direction: column;
  gap: 61px;
}

.content-redesSociais {
  display: flex;
  gap: 40.52px;
}

.text-input {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 36.93px;
}

.container-form input {
  border-radius: 30px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.button-send {
  display: flex;
  justify-content: end;
}

#button_send {
  width: 40%;
  padding: 10px 50px;
  background-color: #6975E8;
  color: #fff;
  font-size: 0.875rem;
  font-family: "Roboto Mono", sans-serif;
  font-weight: 700;
  line-height: 18.46px;
  border-radius: 6px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.thread {
  border: 2px solid #B9B7B7;
  border-radius: 2px;
  height: 60vh;
}


#container_plans {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F4F2F2;
}

#container_plans .plans {
  width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 12px
  
}

#container_plans .title-section {
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 23px;

}


@media screen and (max-width: 700px) {
  #title_banner {
    font-size: 1.7rem;
    line-height: 25px;
  }

  .image-banner {
    display: none;
  }

  #container_plans .plans {
    flex-direction: column;
    gap: 60px;
  }

  #container_contato {
    flex-direction: column;
    gap: 40px;
    width: 100%;
  }

  #container_contato .thread {
    display: none;
  }

  .texts-redesSociais {
    width: 100%;
  }

  .texts-redesSociais img {
    width: 10%;
  }

  .container-form {
    width: 100%;
  }

  .text-input {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 36.93px;
  
  }
  
}