@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", sans-serif;
  background-color: #fff;
}

section {
  padding: 5% 4%;
}

#cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

#container_banner {
  width: 100%;
  display: flex;
}

.img-banner-home {
  width: 52%;
}

.images-sobre {
  display: flex;
  gap: 20px;
}

#container-banner-sobre {
  display: flex;
  justify-content: space-between;
}


